
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;   
}



a,
li {
    text-decoration: none;
    list-style: none;
}
.navbar{
    z-index: 1000;
    position: fixed;
    width: 100%;
}
.navbar ul{
    list-style: none;
    background-color: #11111183;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    font-family: "Open Sans", sans-serif;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
li a:hover{
    color:rgb(0, 255, 221);
    text-shadow: 0 0 120px rgb(0, 255, 221);
}
.navbar li{
    float: right;
}



nav .logo {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    float: left;
}
.LOGO {
    color:rgb(0, 255, 221);
}


.titulo{
    font-family: "Open Sans", sans-serif;
    z-index: 1000;
    font-size: 100px;
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
}
.titulo2{
    font-family: "Open Sans", sans-serif;
    z-index: 1000;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 30px;
    color: #8d8d8d;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-weight: 100;
}
.titulo span{
    font-size: 30px;
    color: #8d8d8d;
}
.container-home{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #111111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.container-home .row{
    position: relative;
    top: -50%;
    width: 100%;
    display: flex;
    padding: 10px 0;
    white-space: nowrap;
    font-size: 70px;
    transform: rotate(-30deg);
}

.fa-brands{
    color: rgba(0,0,0,0.5);
    transition: 0.9s;
    padding: 0 5px;
    user-select: none;
    cursor: default;
}

.sha:hover{
    color:rgb(0, 255, 221);
    text-shadow: 0 0 120px rgb(0, 255, 221);
}


section .row div {
    animation: animate1 80s linear infinite;
    animation-delay:-80s ;
}
section .row div:nth-child(2){
    animation: animate2 80s linear infinite;
    animation-delay:-40s ;
}
@keyframes animate1{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

@keyframes animate2{
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-200%);
    }
}



section .row:nth-child(even) div {
    animation: animate3 80s linear infinite;
    animation-delay:-80s ;
}
section .row:nth-child(even) div:nth-child(2){
    animation: animate4 80s linear infinite;
    animation-delay:-40s ;
}
@keyframes animate3{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
    @keyframes animate4{
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }

}

.redes-sociais {
    z-index: 200;
    position: absolute;
    top: 85%;
    left:45%;
    margin-right: -50%;
    bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
}

.redes-sociais a {
    transition: all 0.2s ease-in;
    font-size: 2rem;
    color:rgb(0, 255, 221);
    transform: translateY(0);
}
#be{
    color:rgb(0, 255, 221);
}

.redes-sociais a:hover {
    transform: translateY(-5px);
}

.redes-sociais a:hover .fa-github {
    color: #454545;
}

.redes-sociais a:hover .fa-linkedin {
    color: #0e76a8;
}

#be:hover{
    color: #0030cf;
}

.redes-sociais a:hover .fa-instagram {
    color: #e4405f;
}

/*Estilização Página Sobre*/

.container-sobre{
    width: 100%;
    background: #111111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titulo-sobre{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-top: 70px;
}
.titulo-sobre span{
    color: rgb(0, 255, 221);
    font-weight: 400;
    font-size: 1.5rem;
}
.titulo-sobre h1{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

.sobre-content{
    margin-left: 30px;
    margin-right: 30px;
    height: 73vh;
}

.sobre-text{
    float: right;
    width: 50%;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
.sobre-text h1{
    padding-top: 20px;
    font-size: 2rem;
    margin-bottom: 20px;

}
.sobre-text p{
    text-align:justify;
    font-size: 1rem;
    font-weight: 300;
}


.sobre-img{
    width: 22%;
    border-radius: 50%;
    margin-top: 30px;
    float: left;
    margin-left:10%;
    box-shadow: 0 0 120px rgba(0, 255, 221, 0.527);
}

.sobre-social{
    padding-top: 15px;
}

.sobre-social i{
    margin-top: 5px;
    color: #fff;
    font-size: 1.5rem;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    align-items: center;
}

.sobre-content .sobre-social .fa-brands .fa-behance .b{
    color: #fff;
}

.sobre-social i{
    transition: all 0.2s ease-in;
    font-size: 2rem;
    transform: translateY(0);
}

.sobre-social i:hover {
    transform: translateY(-5px);
}

.sobre-social a:hover .fa-github {
    color: #454545;
}

.sobre-social a:hover .fa-linkedin {
    color: #0e76a8;
}


.sobre-social a:hover .fa-instagram {
    color: #e4405f;
}
.sobre-social a:hover .fa-behance{
    color: #0030cf;
}


.scroll{
    margin-top: -70px;
    margin-left: auto;
    margin-right: auto;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }    
}

.scroll img{
    width: 50px;
}


.sobre-content-habilidades{
    padding-top: 50px;
    margin: 30px;
}

.sobre-text-habilidades{
    float: left;
    width: 50%;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
.sobre-text-habilidades span{
    color:rgb(0, 255, 221);
}
.sobre-text-habilidades h1{
    font-size: 2.2rem;
    margin-bottom: 20px;

}
.sobre-text-habilidades p{
    text-align:justify;
    font-size: 1rem;
    font-weight: 300;
}

.tecnologias{
    text-align: center;
    float: right;
}

.tecnologias i{
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 40px;
    color: #fff;
    font-size: 60px;
    gap: 5rem;
    padding-bottom:20px;
}

.group1{
    animation: fadeInAnimation ease 2s;

    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.soft-skills span{
    color:rgb(0, 255, 221);
    font-size: 1.7rem;
    font-family: "Open Sans", sans-serif;
}
.skills ul{
    padding-top: 5px;
}
.skills{
    font-size: 0.9rem;
    padding-top: 30px;
    float: left;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-weight: 300;
}
.skills i{
    color:rgb(0, 255, 221);
}

.footer{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 20px;
}
.footer p{
    color: #fff;
}


/*ESTILIZAÇÃO DA PÁGINA PROJETOS*/
.container-projetos{
    width: 100%;
    background: #111111;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.titulo-projetos{
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-top: 70px;
}

.titulo-projetos span{
    color:rgb(0, 255, 221);
    font-weight: 400;
    font-size: 1.5rem;
}
.titulo-projetos h1{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
}

/* Conjunto de Card Projeto*/
.trio{
    display: flex;
    align-items: center;
    margin-top: 30px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.card{
    height: auto;
    width: 320px;
    padding: 1rem;
    background-color: #252525;
    border-radius: 20px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.card img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
    border-radius: 20px;
}

.titulo-card-projetos{
    color: #fff;
    text-align: left;
    font-weight: bold;
    font-size: 1.4rem;
    margin: 10px;
}
.card span{
    color:rgb(0, 255, 221);
    font-weight: 300;
    font-size: 1rem;
    margin-left: 10px;
}
.card p{
    text-align: justify;
    font-size: 0.9rem;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #fff;
    font-weight: 300;
    height: 130px;
}
.icon-projetos{
    text-align: left;
    margin-left: 10px;
}

.icon-projetos i{
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
}
#html:hover{
    color: #fd5c11; 
}
#css3:hover{
    color: #045dc4;
}
#js:hover{
    color: #fbff13;
}
.link-projetos{
    margin-top: 10px;
    display: block;
    text-align: center;
    padding: 0.7rem;
    background-color:rgb(0, 255, 221);
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 1rem;
    transition: background-color 0.3s;
    width: 290px;
}
.link-projetos a{
    color: #000;
    font-size: 1rem;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

.link-projetos:hover{
    background-color:#919191;
    color:rgb(0, 255, 221);
    text-decoration: none;
}


/*Tamanho para tablets até o inicio de monitores*/
@media (min-width: 700px) and (max-width: 1024px){

.titulo{
font-size:50px;
}

.titulo2{
font-size:25px;
top: 60%;
}
.redes-social i{
color: #e4405f;
}
.redes-sociais {
z-index: 200;
position: absolute;
top: 35%;
left:39%;
margin-right: -50%;
bottom: 1rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 1.2rem;
}

.redes-sociais a {
transition: all 0.2s ease-in;
font-size: 2rem;
color:rgb(0, 255, 221);
transform: translateY(0);
}

.redes-sociais a:hover {
transform: translateY(-5px);
}

.redes-sociais a:hover .fa-github {
color: #454545;
}

.redes-sociais a:hover .fa-linkedin {
color: #0e76a8;
}

.redes-sociais a:hover .fa-tiktok {
color: #353535;
}

.redes-sociais a:hover .fa-instagram {
color: #e4405f;
}
/* Sobre Resoponsivo*/
.sobre-img{
display: none;
}
.sobre-text{
width: 100%;
font-size: 2rem;
}

.sobre-content{
margin-left: 30px;
margin-right: 30px;
height: auto;
}

.sobre-text-habilidades{
width: 100%;
}
.tecnologias{

float: none;
}
.scroll {
display: none;
}
.tecnologias i{
font-size: 50px;
margin: none;
padding: none;
}
.soft-skills{
text-align: left;
}

.soft-skills ul{
}

.sobre-content-habilidades{
margin: 30px;
padding: 0;
}

/*ESTILIZAÇÃO DA PÁGINA PROJETOS*/
.container-projetos{
width: 100%;
background: #111111;
display: flex;
flex-direction: column;
overflow: hidden;
}

.titulo-projetos{
text-align: center;
font-family: "Open Sans", sans-serif;
padding-top: 70px;
}

.titulo-projetos span{
color:rgb(0, 255, 221);
font-weight: 400;
font-size: 1.5rem;
}
.titulo-projetos h1{
color: #fff;
font-size: 3rem;
font-weight: bold;
}

/*Card Projeto*/
.container-projetos{
width: 100%;
height: 100%;
background: #111111;
display: flex;
flex-direction: column;
overflow: hidden;

}


.trio{
display: flex;
align-items: center;
margin-top: 30px;
justify-content: space-around;
margin-bottom: 20px;
}

.card{
width: 200px;
height: auto;
padding: 1rem;
background-color: #252525;
border-radius: 20px;
font-family: "Open Sans", sans-serif;
display: flex;
flex-direction:column;
align-items: start;
}


.card img{
height: 50%;
width: 100%;
object-fit: contain;
display: block;
border-radius: 10px;
}

.titulo-card-projetos{
color: #fff;
text-align: left;
font-weight: bold;
font-size: 0.9rem;
}
.card span{
color:rgb(0, 255, 221);
font-weight: 300;
font-size: 0.7rem;
margin-left: 10px;
}
.card p{
font-size: 0.7rem;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
color: #fff;
font-weight: 300;
height: 100px;
margin-bottom: 20px;
}
.icon-projetos{
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}

.icon-projetos i{
color:rgb(255, 255, 255);
font-size: 0.9rem;
}
#html:hover{
color: #fd5c11; 
}
#css3:hover{
color: #045dc4;
}
#js:hover{
color: #fbff13;
}

.link-projetos{
width: 50%;
font-size: 0.5rem;
margin: auto;

}
.footer{
font-size: 0.8rem;
}



}


/*Tamanho para celulares até o inicio de tablets*/
@media (min-width: 400px) and (max-width: 699px){
/*estilização menu*/

.navbar{
font-family: "Open Sans", sans-serif;
z-index: 100;
}

.navbar ul{
list-style: none;
background-color: #111111b7;
padding: 0px;
margin: 0px;
}
.navbar li{
display: none;

}

/*LOGO*/
nav .logo a{
color: #fff;
padding: 1rem;
font-family: "Open Sans", sans-serif;
font-size: 1.2rem;
font-weight: bold;
float: left;
}

.destaque {
color:rgb(0, 255, 221);
}


/* Efeitos de menu*/

.hamburguer{
/*background-color: red;*/
height: 2rem;
width: 2rem;
position: fixed;
z-index:100;
right: 1rem;
top: .7rem;
display: flex;
flex-direction: column;
justify-content: space-evenly;
cursor: pointer;
z-index: 160;
}

.line{
background-color: white;
width: 100%;
height:.1rem;
box-shadow: 0.1rem 0.1rem 1px #000;
transition:transform 1s;

}

/*Efeito s que aconteceraão depois que clicar no menu */

.show-menu .hamburguer {
right: 2rem;
}

.show-menu .navbar{
background-color: #313131;
}
.show-menu ul{
height: 100vh;
color: #fff;

}
.show-menu .navbar li {
text-decoration: none;
padding: auto;
padding-bottom: 30px;
width: 100%;
display: block;
text-align: center;
}
.show-menu .links{

color: #ffffff;
font-size: 2rem;

}
.show-menu .links:hover{
color:rgb(0, 255, 221);

}
.show-menu nav .logo{
display: none;
}






/*Transformação do hamburguer em X para sinalizar botão de fechamento*/

.show-menu #line1 {
transform: translate(.28rem, .39em) rotate(45deg);
}
.show-menu #line2 {
opacity: 0;
visibility: hidden;
}
.show-menu #line3 {
transform: translate(.17rem, -.6rem) rotate(-45deg);
}






.titulo{
font-size:30px;
width: 90%;
font-size: 4rem;
line-height: 6rem;
z-index: 90;
text-align: center;
}

.titulo2{
font-size:30px;
top: 62%;
width: 90%;
z-index: 90;
text-align: center;
}

.redes-social i{
color: #e4405f;
}

.redes-sociais {
z-index: 90;
position: absolute;
top: 55%;
left:30%;
margin-right: -50%;
bottom: 1rem;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
gap: 1.2rem;
}

.redes-sociais a {
transition: all 0.2s ease-in;
font-size: 2rem;
color:rgb(0, 255, 221);
transform: translateY(0);
}

.redes-sociais a:hover {
transform: translateY(-5px);
}

.redes-sociais a:hover .fa-github {
color: #454545;
}

.redes-sociais a:hover .fa-linkedin {
color: #0e76a8;
}

.redes-sociais a:hover .fa-tiktok {
color: #353535;
}

.redes-sociais a:hover .fa-instagram {
color: #e4405f;
}


/* Sobre Resoponsivo*/
.sobre-img{
display: none;
}
.sobre-text{
width: 100%;
font-size: 2rem;
}

.sobre-content{
margin-left: 30px;
margin-right: 30px;
height: auto;
}

.sobre-text-habilidades{
width: 100%;
}
.tecnologias{

float: none;
}
.scroll {
display: none;
}
.tecnologias i{
font-size: 25px;
float: left;
text-align: center;
}
.soft-skills{
text-align: left;
}

.soft-skills ul{
}

.sobre-content-habilidades{
margin: 30px;
padding: 0;
}
/*Card Projeto*/
.container-projetos{
width: 100%;
height: 100%;
background: #111111;
display: flex;
overflow: hidden;
}


.trio{
display: grid;
align-items: center;
margin-bottom: 20px;

}

.card{
height: auto;
width: 90%;
padding: 1rem;
background-color: #252525;
border-radius: 20px;
font-family: "Open Sans", sans-serif;
display: flex;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
}


.card img{
height: 50%;
width: 100%;
object-fit: contain;
display: block;
border-radius: 10px;
}

.titulo-card-projetos{
color: #fff;
margin-left: auto;
margin-right: auto;
margin-top: 20px;
font-size: 1.4rem;
}
.card span{
color:rgb(0, 255, 221);
font-weight: 300;
font-size: 1.2rem;
margin-left: 10px;
margin-left: auto;
margin-right: auto;

}
.card p{
font-size: 1.1rem;
margin-top: 10px;
margin-left: 10px;
margin-right: 10px;
color: #fff;
font-weight: 400;
height: 100px;
text-align: justify;
}
.icon-projetos{
margin-top: 70px;
margin-left: auto;
margin-right: auto;
margin-bottom: 10px;
}

.icon-projetos i{
color:rgb(255, 255, 255);
font-size: 2rem;
}
#html:hover{
color: #fd5c11; 
}
#css3:hover{
color: #045dc4;
}
#js:hover{
color: #fbff13;
}

.link-projetos{
width: 50%;
font-size: 1rem;
margin: auto;

}
.footer{
font-size: 0.8rem;
}

}


